html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
  background-color: #ddd5d0;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
}

.header__title {
  text-align: center;
  color: #4b3f72;
}

.section__title {
  color: #417b5a;
}

.article__title {
  color: #583e23;
}
.navigation {
  background-color: #417b5a;
}
.navigation__link {
  color: wheat;
}
