body {
  background-color: #ddd5d0;
}
.title {
  text-align: center;
  color: #4b3f72;
}

.section-title {
  color: #417b5a;
}

.article-title {
  color: #583e23;
}
.navigation {
  background-color: #417b5a;
}
.navigation-link {
  color: wheat;
}
